<div class="container-fluid">
  {{#each filteredGames as |schedule|}}
    <div class="col-md-6">
      {{#schedule-item item=schedule}}
        Venue: {{schedule.venue}} Date: {{schedule.date}}
      {{/schedule-item}}
    </div>
  {{/each}}
</div>
