<article class="twitter-feed">
  <a class="twitter-timeline"  href="https://twitter.com/hashtag/nzihl" data-widget-id="837039849362239488">What People are Saying #nzihl</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  {{yield}}
</article>
