<article class="twitter-reddevils">
  <a class="twitter-timeline" href="https://twitter.com/crdhockey">Tweets by crdhockey</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {{yield}}
</article>
