<article class="twitter-stampede">
  <a class="twitter-timeline" href="https://twitter.com/sthstampede">Tweets by sthstampede</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {{yield}}
</article>
