@import "bootstrap";

// Navbav text center start
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}
// Navbar text center end

// Footer text placement start
.navbar-fixed-bottom {
  padding: 15px 60px 0 50px;
}
// Footer text placement end
