@import "bootstrap";

// Navbav text center start
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}
// Navbar text center end

// Footer text center start
.navbar-fixed-bottom {
  padding-top: 15px;
  text-align: center;
}
// Footer text center end
