<h1>{{model.title}}</h1>

Then... you probably want to list the team members here...

<ul class='player-list'>
{{#each model.players as |player|}}
	<li class='player'>
  	{{player.name}} {{log player}}
  </li>
{{/each}}
</ul>
