<div class="container-fluid">
  <div class="col-lg-8 team-logos">
    <div class="row">
    </div>
    <div class="row">
    </div>
  </div>
  <div class="col-lg-4 twitter-admirals">
    {{twitter-admirals}}
  </div>
</div>
{{outlet}}
