{{outlet}}
<h3>Get in Touch</h3>
<p>This site was made and is maintened by Red Hendery, a Wellington based web developer,
  hockey fan and member of the Slapshot Prodcutions LiveStream crew.
</p>
<p>It was made out of 2 parts love and 4 parts spare time.
  Please disable your Ad Blocker as ads pay for the upkeep and hosting costs of this site.
</p>
<br>
<p>Following the NZIHL on social media for scores, updates and highlights or email the developer.</p>
<div class="fa-icons">
  <span class="fa-stack fa-5x">
    <a href="https://www.facebook.com/Nzihl/" target="_blank">"
      <i class="fa fa-circle fa-stack-2x icon-background-face fa-fw"></i>
      <i class="fa fa-facebook fa-1x fa-stack-1x fa-fw"></i>
    </a>
  </span>
  <span class="fa-stack fa-5x">
    <a href="https://twitter.com/NZIHL" target="_blank">
      <i class="fa fa-circle fa-stack-2x icon-background-twit fa-fw"></i>
      <i class="fa fa-twitter fa-1x fa-stack-1x fa-fw"></i>
    </a>
  </span>
  <span class="fa-stack fa-5x">
    <a href="https://www.youtube.com/channel/UCyuduo-Gye8Lm1WkckO2piw" target="_blank">
      <i class="fa fa-circle fa-stack-2x icon-background-tube"></i>
      <i class="fa fa-youtube fa-1x fa-stack-1x"></i>
    </a>
  </span>
  <span class="fa-stack fa-5x">
    <a href="mailto:redhendery@gmail.com?Subject=Contact%20From%20NZIHL%20Page">
      <i class="fa fa-circle fa-stack-2x icon-background-env"></i>
      <i class="fa fa-envelope fa-1x fa-stack-1x"></i>
    </a>
  </span>
</div>
