<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <span>&copy; Red Hendery and the NZIHL</span>
    <ul class="nav navbar-nav navbar-right">
      <span>Built by Red Hendery</span>
    </ul>
  </div>
</footer>
