<div class="jumbotron text-center">
   <h1>Coming Soon</h1>
   <br/>
   <p>We will launch in time for game 1 of the NZIHL 2017 season.</p>
   <p>Follow us on social media in the mean time for updates regarding the season, highlights, schedules and more!</p>
</div>
<div class="container-fluid fa-icons">
  <span class="fa-stack fa-5x">
    <a href="https://www.facebook.com/Nzihl/" target="_blank">"
      <i class="fa fa-circle fa-stack-2x icon-background-face fa-fw"></i>
      <i class="fa fa-facebook fa-1x fa-stack-1x fa-fw"></i>
    </a>
  </span>
  <span class="fa-stack fa-5x">
    <a href="https://twitter.com/NZIHL" target="_blank">
      <i class="fa fa-circle fa-stack-2x icon-background-twit fa-fw"></i>
      <i class="fa fa-twitter fa-1x fa-stack-1x fa-fw"></i>
    </a>
  </span>
  <span class="fa-stack fa-5x">
    <a href="https://www.youtube.com/channel/UCyuduo-Gye8Lm1WkckO2piw" target="_blank">
      <i class="fa fa-circle fa-stack-2x icon-background-tube"></i>
      <i class="fa fa-youtube fa-1x fa-stack-1x"></i>
    </a>
  </span>
  <div class="container livestream">
    <a href="https://livestream.com/nzihl" target="_blank">
      <img class="livestream" src="assets/images/livestream.png">
    </a>
  </div>
</div>
