<div class="container-fluid">
  <div class="well">
    <ul class="nav nav-pills nav-justified">
      {{#link-to 'players.index' tagName="li"}}<a href>League Leaders</a>{{/link-to}}
      {{#link-to 'players.swarm' tagName="li"}}<a href>Botany Swarm</a>{{/link-to}}
      {{#link-to 'players.reddevils' tagName="li"}}<a href>Canterbury Red Devils</a>{{/link-to}}
      {{#link-to 'players.thunder' tagName="li"}}<a href>Dunedin Thunder</a>{{/link-to}}
      {{#link-to 'players.stampede' tagName="li"}}<a href>Skycity Stampede</a>{{/link-to}}
      {{#link-to 'players.admirals' tagName="li"}}<a href>West Auckland Admirals</a>{{/link-to}}
    </ul>
  </div>
</div>
{{outlet}}
