<div class="container-fluid">
  <h1>Schedules</h1>
  <div class="well">
    <ul class="nav nav-pills">
      {{#link-to 'schedule.index' tagName="li"}}<a href="">List All</a>{{/link-to}}
      {{#link-to 'schedule.index' tagName="li"}}<a href="">Botany Swarm</a>{{/link-to}}
      {{#link-to 'schedule.index' tagName="li"}}<a href="">Canterbury Red Devils</a>{{/link-to}}
      {{#link-to 'schedule.index' tagName="li"}}<a href="">Dunedin Thunder</a>{{/link-to}}
      {{#link-to 'schedule.index' tagName="li"}}<a href="">Skycity Stampede</a>{{/link-to}}
      {{#link-to 'schedule.index' tagName="li"}}<a href="">West Auckland Admirals</a>{{/link-to}}
      {{#link-to 'schedule.new' tagName="li"}}<a href="">Add New</a>{{/link-to}}
    </ul>
  </div>
  {{outlet}}
</div>
