<div class="container-fluid">
  <div class="well">
    <ul class="nav nav-pills nav-justified">
      {{#link-to 'schedule.index' tagName="li"}}<a data-toggle="pill" href="">All Games</a>{{/link-to}}
      <li><a data-toggle="pill" href="#swarm">Botany Swarm</a></li>
      <li><a data-toggle="pill" href="#devils">Canterbury Red Devils</a></li>
      <li><a data-toggle="pill" href="#thunder">Dunedin Thunder</a></li>
      <li><a data-toggle="pill" href="stampede">Skycity Stampede</a></li>
      <li><a data-toggle="pill" href="admirals">West Auckland Admirals</a></li>
      {{!-- {{#link-to 'schedule.new' tagName="li"}}<a data-toggle="pill" href="">Add New</a>{{/link-to}} --}}
    </ul>
  </div>
  {{outlet}}
</div>
