<div class="container-fluid">
  <div class="col-lg-8 team-logos">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        {{#link-to 'teams.swarm'}}
          <a href=""><img class="img-responsive swarm" src="assets/images/swarmRound.png" alt="Botany Swarm"></a>
        {{/link-to}}
      </div>
      <div class="col-sm-4">
        {{#link-to 'teams.reddevils'}}
          <a href=""><img class="img-responsive redDevils" src="assets/images/redDevilsRound.png" alt="Canterbury Red Devils"></a>
        {{/link-to}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        {{#link-to 'teams.stampede'}}
          <a href=""><img class="img-responsive stampede" src="assets/images/stampedeRound.png" alt="Skycity Stampede"></a>
        {{/link-to}}
      </div>
      <div class="col-sm-4">
        {{#link-to 'teams.thunder'}}
          <a href=""><img class="img-responsive thunder" src="assets/images/thunderRound.png" alt="Dunedin Thunder"></a>
        {{/link-to}}
      </div>
      <div class="col-sm-4">
        {{#link-to 'teams.admirals'}}
          <a href=""><img class="img-responsive admirals" src="assets/images/admiralsRound.png" alt="West Auckland Admirals"></a>
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="col-lg-4 league-twitter">
    {{twitter-feed}}
  </div>
</div>
{{outlet}}
